body {
    text-align:center;
}

#logo {
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content:center;
}

#search-bar {
    margin-top:1em;
}

#search{
    width: 600px;
    height: 44px;
    border-width: 1px;
    border-radius:24px;
    border-color:rgb(201, 201, 201);
}

#search-menu {
    margin-top:15px;
}

#search-button {
    width:150px;
}
#Languages {
    margin-top: 0.5em;
}
