body {
    text-align: center;

}

.top-bar{
    display: grid;
    height: 20px;
    grid-auto-flow: column;
    grid-gap: 10px;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: end;
    margin: 20px;
}

.logo {
    height: 322px;
    margin-bottom: 1.6em;
    display: flex;
    align-items: flex-end;
    justify-content:center;
}

.search-bar{
    width:590px;
    height: 3.5em;
    border-radius: 25px;
    margin-bottom: 2.3em;
    border-style:solid;
    border-color: #adadad69;
    border-width:1px;
}

.search-buttons{
    text-align: center;
    margin-bottom: 1.6em;  
}

.button-search{
    background-color: #e6e6e669;
    border-style:none;
    border-radius: 5px;
    height: 35px;
    font-family:Arial, Helvetica, sans-serif;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom:0.5em;
    width:135px;
    font-size:14px;
}

.languages{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    justify-content: center;
}
