body {
    text-align:center;
}

#logo {
    height: 375px;
    display: flex;
    align-items: flex-end;
    justify-content:center;
}

#search-bar {
    margin-top:1em;

}

#search{
    width: 450px;
    height: 30px;
    border-width: 1px;
    border-radius:20px;
}

#search-menu {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    justify-items: center;
}

#search-button {
    grid-column-start: 8;
    grid-column-end: 9;
    border-radius:20px;
    border-width:0.2px;
    border-color:rgba(238, 238, 238, 0.5);
    font-family:Arial, Helvetica, sans-serif;
    font-size:small;
    background-color: rgba(238, 238, 238, 0.5);
    width: 125px;
    height: 25px;
}

#lucky-button {
    grid-column-start: 9;
    grid-column-end: 10;
    border-radius:20px;
    border-width:0.2px;
    border-color:rgba(238, 238, 238, 0.5);
    font-family:Arial, Helvetica, sans-serif;
    font-size:small;
    background-color: rgba(238, 238, 238, 0.5);
    width: 125px;
}

#Languages {
    margin-top: 1em;
    font-family:Arial, Helvetica, sans-serif;
    font-size:small;
    
}
